# Serveur
PORT=3000
NODE_ENV=production

# Base de données Prisma PostgreSQL
DATABASE_URL="postgresql://username:password@host:port/database?sslmode=require"

# Prisma Cloud API Key (optionnel)
PRISMA_API_KEY=your-prisma-cloud-api-key
